/**
 * Place your custom CSS styles here.
 **/
.list-wrapper .toggle-full-width::before {
    content: "\1F453";
}

.list-wrapper.full-width-list {
    display: block;
    width: inherit;
}

.list-wrapper.full-width-list .list-cards{
    align-content: flex-start;
    display: flex;
    flex-flow: column wrap;
    overflow-x: scroll;
}

.list-wrapper.full-width-list .list-card {
    margin: 5px;
    flex: 0 0 auto;
}

.list-wrapper.hidden-list {
    display: none;
}

.card-short-id.hide{
    margin-right: 7px;
    margin-bottom: 4px;
    color: #2ca4ec;
    display: initial;
}

.card-short-id {
    margin-right: 7px;
    margin-bottom: 4px;
    color: #2ca4ec;
}

.list-header-num-cards.js-num-cards.hide {
    display: initial;
}

span.card-label.mod-card-front{
    width: auto;
    padding: 1px 3px;
    line-height: normal;
    height: initial;
    font-size: 12px;
    text-shadow: 0 0 9px rgba(0,0,0,.2), 0 0 1px #000;
    font-weight: 400;
}

.drec-tag {    
    font-size: 10pt;
    font-style: italic;
    color: #46a7d8;
    font-weight: 600;
    margin-right: 2px;
    padding: 1px 5px;
    border-radius: 1px;
    display: block;
}

.drec-tag::before{
    content: '- ';
}